h1 {
  border-bottom: 1px solid #dbd8e9;
}

h2 {
  padding-top: 1em;
  border-bottom: 1px solid #dbd8e9;
}

h3 {
  padding-top: 0.75em;
  border-bottom: 1px solid #dbd8e9;
}

h4 {
  padding-top: 0.5em;
}

section {
  display: inline-block;
  margin: 0 auto;
}

.katex-display:before {
  display: block;
  content: "MATH";
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #4b4c4d;
  font-size: 0.85em;
}

.katex-display {
  border-radius: 5px;
  text-align: left;
  padding: 0.65em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
}

pre:before {
  display: block;
  content: "CODE";
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #667ec9;
  font-size: 0.85em;
}

pre {
  padding: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
  font-family: 'Consolas', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header-anchor {
  color: #667ec9;
  padding: 1px;
}
